<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448437059603-i52c5con5m4i66prbddguec24oqgv8f1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448437059603-i52c5con5m4i66prbddguec24oqgv8f1</string>
	<key>API_KEY</key>
	<string>AIzaSyBLeqzoZIZYpmZgxq8jzTSi0pzlm7nrl5U</string>
	<key>GCM_SENDER_ID</key>
	<string>448437059603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bikeLockApp</string>
	<key>PROJECT_ID</key>
	<string>iot-bike-lock</string>
	<key>STORAGE_BUCKET</key>
	<string>iot-bike-lock.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448437059603:ios:3e7909008422cad5ab3fe6</string>
	<key>DATABASE_URL</key>
	<string>https://iot-bike-lock-default-rtdb.firebaseio.com</string>
</dict>
</plist>